{% if page_has_hero %}
  <header class='js-top-navigation top-navigation {{ page_has_hero == true ? 'over-hero in' }}'>
    <div class="container-fluid">
      <div class='row'>
        <div class="navbar col-sm-12 navbar-fixed-top">
          {% include 'header_content.twig' %}
        </div>
      </div> 
    </div>
  </header>
{% else %}
  <div class="navbar navbar-fixed-top top-navigation top-navigation--static">
    <div class="container-fluid">
      {% include 'header_content.twig' %}
    </div>
  </div>
{% endif %}
