{% extends "base.twig" %}

{% block content %}
  <section class='js-hero-section home__hero'>
    <div class="js-hero-background home__hero__bg"></div>
    <div class="js-hero-overlay home__hero__bg-overlay"></div>
    <div class='js-hero-caption home__hero__caption'>
      <div class='container-fluid'>
        <div class='row'>
          <div class='col-xs-12 col-sm-push-6 col-sm-6'>
            <h1>{{post.title}}</h1>
            <p>Ayudamos a superar las dificultades de lecturas</p>
          </div>
          {#<div class='col-sm-12 col-md-push-6 col-md-6'>#}
            {#<img src="/app/themes/binding/dist/images/binding-app.png" alt="Binding App"/>#}
          {#</div>#}
        </div>
      </div>
    </div>
  </section>

  <section class='container-fluid home__main_content'>
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h2>EL projecto</h2>
        <p class='lead'>Esto es una frase que resume el espirtu del projecto. No tiene porque ser muy larga.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et arcu at purus lacinia auctor. Suspendisse pellentesque dignissim est tempor aliquam. Morbi odio nulla, suscipit vitae ornare non, porttitor vitae quam. Nullam aliquet sed sem luctus tempor. Donec ac justo in felis interdum porta id sed lacus. Nullam sodales sodales lorem, in feugiat sem fringilla non. Quisque vitae tellus quam. Proin semper lacus nec tincidunt faucibus. Etiam nec eleifend felis, eu egestas nisi.</p>

      </div>

      <div class="col-xs-12 col-md-6">
        <h2>EL Metodo binding</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et arcu at purus lacinia auctor. Suspendisse pellentesque dignissim est tempor aliquam. Morbi odio nulla, suscipit vitae ornare non, porttitor vitae quam. Nullam aliquet sed sem luctus tempor. Donec ac justo in felis interdum porta id sed lacus. Nullam sodales sodales lorem, in feugiat sem fringilla non. Quisque vitae tellus quam. Proin semper lacus nec tincidunt faucibus. Etiam nec eleifend felis, eu egestas nisi. Duis sapien metus, ultricies ut faucibus quis, mattis eu orci. Ut porta nisl et lorem ultrices, vel sagittis metus imperdiet. Fusce quis nunc arcu. Suspendisse sed viverra quam. Duis lobortis massa in arcu porttitor, in mattis nulla vehicula.</p>
      </div>
      
    </div>
  </section>

  <section class='home__section'>
    <div class='container-fluid'>
      <h2>Servicios</h2>
      <div class="row">
        <div class="col-xs-12 col-md-4">
          <h3>Familias</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et arcu at purus lacinia auctor. Suspendisse pellentesque dignissim est tempor aliquam. Morbi odio nulla, suscipit vitae ornare non, porttitor vitae quam. Nullam aliquet sed sem luctus tempor. Donec ac justo in felis interdum porta id sed lacus. Nullam sodales sodales lorem, in feugiat sem fringilla non. Quisque vitae tellus quam. Proin semper lacus nec tincidunt faucibus. Etiam nec eleifend felis, eu egestas nisi. Duis sapien metus, ultricies ut faucibus quis, mattis eu orci. Ut porta nisl et lorem ultrices, vel sagittis metus imperdiet. Fusce quis nunc arcu. Suspendisse sed viverra quam. Duis lobortis massa in arcu porttitor, in mattis nulla vehicula.</p>
        </div>
        <div class="col-xs-12 col-md-4">
          <h3>Escuelas</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et arcu at purus lacinia auctor. Suspendisse pellentesque dignissim est tempor aliquam. Morbi odio nulla, suscipit vitae ornare non, porttitor vitae quam. Nullam aliquet sed sem luctus tempor. Donec ac justo in felis interdum porta id sed lacus. Nullam sodales sodales lorem, in feugiat sem fringilla non. Quisque vitae tellus quam. Proin semper lacus nec tincidunt faucibus. Etiam nec eleifend felis, eu egestas nisi. Duis sapien metus, ultricies ut faucibus quis, mattis eu orci. Ut porta nisl et lorem ultrices, vel sagittis metus imperdiet. Fusce quis nunc arcu. Suspendisse sed viverra quam. Duis lobortis massa in arcu porttitor, in mattis nulla vehicula.</p>
        </div>
        <div class="col-xs-12 col-md-4">
          <h3>Gabinetes</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam et arcu at purus lacinia auctor. Suspendisse pellentesque dignissim est tempor aliquam. Morbi odio nulla, suscipit vitae ornare non, porttitor vitae quam. Nullam aliquet sed sem luctus tempor. Donec ac justo in felis interdum porta id sed lacus. Nullam sodales sodales lorem, in feugiat sem fringilla non. Quisque vitae tellus quam. Proin semper lacus nec tincidunt faucibus. Etiam nec eleifend felis, eu egestas nisi. Duis sapien metus, ultricies ut faucibus quis, mattis eu orci. Ut porta nisl et lorem ultrices, vel sagittis metus imperdiet. Fusce quis nunc arcu. Suspendisse sed viverra quam. Duis lobortis massa in arcu porttitor, in mattis nulla vehicula.</p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
