.home__hero {
  position: relative;
  height: 500px;
  width: 100%;
  background-color: #333;
}
.home__hero__caption {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 100px;
  z-index: 3;
  color: white;
  text-shadow: 0 1px 10px rgba(0, 0, 0, 0.9);
}
.home__hero__bg {
  background-image: url(/app/themes/binding/dist/images/home-hero-2.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 30% 0;
  z-index: 1;

  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0
}
.home__hero__bg-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background: linear-gradient(to left,rgba(0,0,0,.65) 0,transparent 100%);
}

.home__main_content {
  background: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.home__section {
  background-color: white;
  border-top: 2px solid rgba(0, 0, 0, 0.09);
  border-bottom: 2px solid rgba(0, 0, 0, 0.09);
  padding: 20px 0;
  margin: 20px 0;
}

@media (min-width: $screen-sm-min) {
  .home__hero__bg {
    background-position: 50% 0;
  }
}

@media (min-width: $screen-md-min) {
  .home__hero__caption {
    bottom: 100px;
    h1 {
      font-size: 45px;
    }
  }

  .home__main_content {
    top: -20px;
    position: relative;
    z-index: 200;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
}
