.top-navigation,
.top-navigation .container-fluid {
  transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
}

.top-navigation {
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  border-color: transparent;

  .container-fluid {
    position: relative;
  }

  .navbar-toggle {
    border: 0;
    &:hover {
      background-color: transparent;
    }
  }


  .navbar-collapse {
    background: rgba(0, 0, 0, 0.8);
    .navbar-nav {
      a {
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
  }

  .navbar-brand {
    display: block;
    background-image: url("../images/binding-logo.png");
    background-repeat: no-repeat;
    background-size: 151px 45px;
    background-position: ($grid-gutter-width / 2) 10px;
    min-height: 52px;
    width: 175px;
  }

  nav {
    .language-chooser {
      a {
        font-size: 0.9em;
        &[lang="en"] {
          display: none;
        }
      }
    }
  }

  &.over-hero {
    background-color: rgba(255, 255, 255, 0.8);
    &.in {
      background: transparent;
      box-shadow: none;
      .navbar-brand {
        background-image: url("../images/binding-logo-white.png");
      }
      .navbar-toggle {
        .icon-bar {
          background-color: white;
        }
      }
      nav {
        a, a:hover {
          background-color: transparent;
          color: white;
        }
        .language-chooser {
          .current-menu-item {
            a {
              color: white;
            }
          }
          a {
            color: rgba(255, 255, 255, 0.8);
          }
        }
      }
    }
  }
}

@media (min-width: $grid-float-breakpoint) {
  .top-navigation {
    .container-fluid {
      padding-top: 30px;
    }
    .navbar-collapse {
      background: transparent;
      .navbar-nav {
        a {
          border-bottom: 0;
        }
        &.language-chooser {
          position: absolute;
          top: 10px;
          right: $grid-gutter-width / 2;
          li {
            a {
              padding: 5px;
            }
          }
        }
      }
    }
  }
}

